@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', Arial;
    background: lightgray;
    font-size: 25px;
    font-weight: normal;
    color: #222;
}

img {
    border-radius: 15px;
    box-shadow: 12px 12px 5px #46346b;
    margin-right: 30px;
    display: inline-block;
}

table {
    border: 5px solid silver;
    width: 100%
}

tr:nth-child(1) {
    background-color: #414141;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    max-width: 1000px;
}

.info {
    background: transparent;
}

.info h1,
.infotext {
    display: inline-block;
}

.hobby {
    background-color: #50ff50;
    max-width: 1030px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.hobby h3 {
    margin-left: 20px;
}

.work {
    color: wheat;
    background-color: #000;
}

.contacts {
    background-color: #dadada;
    display: block;
}

.socials {
    background-color: #888;
    margin-bottom: 0px;
}

.container {
    max-width: 100%;
    margin: 10px;
    padding-top: 50px;
    margin-bottom: 0px;
}

a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: gold;
}

a:active {
    color: skyblue;
}

a:visited {
    color: silver;
}

.btn1 {
    padding: 20px 20px;
    font-family: inherit;
    font-size: 16px;
    background-color: #222;
    color: white;
    border-radius: 28px;

    border-style: none;
    transition: all .1s;
}

.btn1:hover {
    opacity: 0.9;
}

.btn1:active {
    background-color: #ddd;
    color: black;
}

.labcards {
    width: 100%;
    display: block;
    width: 50%;
    margin-right: 10px;
}

.labcards label {
    color: #888;
    margin-bottom: 15px;
}

.labcards input,
textarea {
    width: 100%;
    height: auto;
    background-color: #dadada;
    border-width: 0px;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
}

ul li {
    font-size: 20px;
    width: 20%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

ul li:hover {
    background-color: aqua;
}

.formcl {
    display: flex;
}

@media (max-width:650px) {
    .container {
        display: block;
        font-size: 12px;
    }

    ul li {
        font-size: 12px;
    }

    .btn1 {
        font-size: 12px;
    }

    img {
        transform: scale(0.5);
    }
}