@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', Arial;
    background: lightgray;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: #222;
}

img {
    border-radius: 15px;
    box-shadow: 12px 12px 5px #46346b;
}

table {
    border: 5px solid silver;
    width: 100%
}

tr:nth-child(1) {
    background-color: #414141;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    max-width: 800px;
}

.info {
    background-color: #f1f1f1;
}

.hobby {
    background-color: #50ff50;
    max-width: 830px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.work {
    color: wheat;
    background-color: #000;
}

.contacts {
    background-color: #ee4040;
}

.socials {
    background-color: #888;
    margin-bottom: 0px;
}

.container {
    max-width: 100%;
    margin: 10px;
    padding-top: 50px;
    margin-bottom: 0px;
}

a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: gold;
}

a:active {
    color: skyblue;
}

a:visited {
    color: silver;
}

textarea {
    max-width: 500px;
    max-height: 250px;
    width: 500px;
    height: 250px;
}

.btn1 {
    padding: 20px 20px;
    font-family: inherit;
    font-size: 18px;
    background-color: #222;
    color: white;
    border-radius: 28px;

    border-style: none;
    transition: all .1s;
}

.btn1:hover {
    opacity: 0.9;
}

.btn1:active {
    background-color: #ddd;
    color: black;
}

.labcards {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.labcards label {
    float: left;
    margin-left: 30%;
}

.labcards input {
    width: 250px;
    height: 20px;
    border-radius: 28px;
    float: right;
    margin-right: 20%;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
}

ul li {
    font-size: 20px;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

ul li:hover {
    background-color: aqua;
}